/* header */
header {

    margin: 0 auto;
    width: 1440px;
    padding: 40.89px 0 100px 69px;

}

.logo {
    margin-right: 312px;
    vertical-align: middle;
}

nav {
    display: inline-block;
}

li {
    font-family: 'Nerko One';
    display: inline-block;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;

}

.active {
    color: #FA1A35;

}

.noactive1 {
    margin-left: 83px;
}

.noactive2 {
    margin-left: 83px;
}

.noactive3 {
    margin-left: 83px;
    margin-right: 117px;
}

/* article */
section {
    background-color: #1F6519;
    height: 823px;

}

.img {
    padding-top: 110px;
    padding-left: 69px;
    padding-bottom: 154px;

}

div {
    vertical-align: top;
    display: inline-block;
    margin-top: 110px;


}

.title {
    font-weight: 400;
    font-size: 36px;
    Line-height: 43.6px;
    color: #FFFFFF;
    margin-left: 210px;
    margin-bottom: 35px;



}

.text {
    font-family: 'PT Serif', serif;
    color: #FFFFFF;
    Line-height: 42.4px;
    font-weight: 400;
    font-style: italic;
    width: 448px;
    height: 480px;
    margin-left: 96px;
    font-family: 'PT Serif';
    font-size: 32px;

}

/* article */
article {
    width: 1440px;
    margin: 0 auto;
    padding-top: 92px;
    padding-right: 216px;
    padding-bottom: 137px;
    padding-left: 207px;
}

.article_title {
    font-family: 'PT Serif', serif;
    color: #0F5009;
    margin-bottom: 92px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    line-height: 53px;
}

.article_text {
    color: #1F6519;
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

}

/* footer */
footer {
    background-color: #1F6519;
    margin: 0 auto;
    padding: 74px 118px 73px 109px;
    width: 1440px;


}

.iluminated_logo {
    margin-right: 617px;
    vertical-align: middle;

}

.iluminated_text {
    font-family: 'Nerko One', cursive;
    font-size: 24px;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
    line-height: 29.06px;
   
}